* {
  box-sizing: border-box;
}
@media(min-width: 560px) {
  iframe {
    width: 432px;
    height: 240px;
  }
}

@media (min-width: 700px) {
  iframe {
    width: 560px;
    height: 315px;
  }
}

@media (min-width: 1000px) {
  .soccer-skills {
    display: flex;
  }
  iframe {
    width: 720px;
    height: 400px;
  }
}
